@import "tailwindcss";

@theme {
  --color-brand-red: #c41e3a;
  --color-brand-yellow: #f4b41a;
  --color-brand-black: #0d0d0d;
  --color-bg-main: #121212; /* Un gris casi negro para mejor contraste */

  --color-brand-gradient: linear-gradient(to right, #c41e3a , #f4b41a );
}

/* Opcional: Una scrollbar minimalista para que no rompa la estética */
@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-brand-yellow);
  }
}

body {
  @apply antialiased text-gray-200;
  background-color: var(--color-bran-gradient);
}
